*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
:root{
    --color : rgb(0, 225, 255)
}
a{
    text-decoration: none !important;
}
html{
    scroll-behavior: smooth;
}
main{
    height: 100vh;
}
body>header{  
    position: absolute;
    top: -100px;
    background-color: white;
    width: 100%;
    height: 60px;
    transition: top 0.3s;
    box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.75);
}
body > header[data-setTop = "true"]{
   position: fixed;
   top: 0;
   height: 50px;
   background-color: white;

}
nav{
    position: fixed;
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
   
}
nav > ul{
    display: flex;
    text-decoration: none;
    margin: 0;
    justify-content: space-between;
    flex-basis: 30%;
    align-items: center;
    margin-right: 10%;
}
.nav-logo{
   margin-left: 12px;
   border-right: 12px;
}
.nav-logo > img{
    background-color: white;
    border-radius: 100px;
    padding: 5px;
}
nav> ul > li{
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    list-style: none;
}
nav > ul[aria-checked="true"] >li > a{
    color: black;
}
nav > ul[aria-checked="true"] >li > a:hover{
    color: rgb(80, 80, 80);
}
nav > ul > li > a{
    text-decoration: none !important;
    position: relative;
    color: white;
    font-family: 'poppins' sans-serif;
    font-size: 0.8rem;
    font-weight: bolder;
}
nav > ul > li > a:after{
    content: "";
    position: absolute;
    background-color: var(--color);
    display: flex;
    justify-content: center;
    align-items: center;
    width: 0;
    height: 2px;
    transition-duration: 0.3s;
    transition-timing-function: linear;
}
nav > ul > li > a:hover{
color: rgb(221, 221, 221);  
}
nav > ul > li > a:hover::after{
    width: 100%;
}

.homePage{
    background: url('https://images2.alphacoders.com/238/238870.jpg') no-repeat center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
    color: whitesmoke;
    flex-direction: column;
    height: 100vh;
    gap: 15px;
}
h1{
    margin: 0;
}
.homePage > h1{
    margin-top: 100px;
    letter-spacing: 4px;
} 
.homePage > button{
   border: 2px solid white;
   outline-offset: 0;
   outline: 0;
   background-color: transparent;
   color: white;
   font-size: 9px;
   padding: 9px 20px;
   letter-spacing: 2px;
   font-weight: 800;
   transition-duration: 0.5s;
}
.homePage > span {
    font-size: 0.6rem;
    font-weight: 600;
    display: flex;
   max-width: 400px;
   text-align: center;
    letter-spacing: 1px;
    word-wrap: break-word;
}
.homePage > button:hover {
  background-color: white;
  border: 2px solid transparent;
  color: black;
}
.toggleBtn{
    display: none;
}
.main-contents{
    height: 100vh;
    display: flex;
    justify-content: center;
}
section > header > a > h1 > span {
    color: var(--color);
}
section > header > a{
    font-size: large;
    text-decoration: none !important;
    list-style: none;
    color:  black;
    letter-spacing: 2px;
}
section > header > a:hover{
  color: black;
}
#services{
  background-color: rgb(65, 100, 88);
}
section{
    text-transform: uppercase;
}
.mainPage-footer{
    position: relative;
    display: inline-block;
    text-align: center;
    width: 100%;
}
.content-title > a > h1{
    font-size: min(8vh , 2rem);
}
.mainPage-footer > footer{
    height: min(20vh);
    background-color: rgb(0, 20, 39);
    color: white;
    font-size: small;
    font-weight: lighter;
    text-align: center;
    letter-spacing: 5px;
    text-transform: uppercase;
}
.mainPage-footer > footer > p {
    position: absolute;
    top: 40%;
    left: 19%;
}
.scroll-to-top{
    display: none;
    background-color: var(--color);
    color: white;
    padding: 1.5px 6px;
    border-radius: 12px;
    font-size: large;
    font-weight: 100;
    position: fixed;
    right: 12px;
    bottom: 20px;
}
.scroll-to-top[data-arrowUp = 'true']{
    display: grid;
}
@media (max-width: 770px) {
    body > header{
        top: -100px !important;
    }
    nav{
        display: inline-block;
        height: 50px;
        background-color: white;
        overflow-y: hidden;
        box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.75);
        transition: height 0.3s ease-in-out;
    }
    .nav-logo{
        position: fixed;
        top: 8px;
        left: 0;
    }
    .toggleBtn{
        color: black;
        display: flex;
        position: fixed;
        top: 12px;
        font-size: x-large;
        right: 12px;
        transition: transform 0.2s ease-in;
        transform: rotate(0deg);
       
    }
    .open-topBar{
        transform: rotate(90deg);
    }
    nav > ul {
       display: inline-block;
        margin: 0;
        width: 100%;
        margin-top: 50px;
       
    }
     nav> ul > li{
        padding: 15px;
        width: 100%;
        justify-content: flex-start;

     }
     nav > ul > li:hover{
        background-color: rgb(212, 212, 212);
     }
    nav > ul > li > a {
        color: black;
    }
    nav > ul > li > a:hover{
        color: rgb(59, 59, 59);
    }
}